task-management-projects/src/main/mule/implementation-projects/delete-project-by-projectId.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
	
	
	
	 <flow name="delete:\projects\delete\(projectId):task-management-abhishek-projetcs-config">
        <snowflake:delete doc:name="Delete" doc:id="deb12211-2589-47f1-bc72-483707d24747" config-ref="Snowflake_Config2">
			<snowflake:sql ><![CDATA[delete from Project where ProjectID = :ProjectID]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
	ProjectID : attributes.uriParams.projectId
}]]]></snowflake:input-parameters>
		</snowflake:delete>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "DELETESUCCESS",
  message: "Project deleted successfully"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>	
		
    
</flow>
	
	
	
	
	
	
	
	
	
	
	</mule>
