task-management-projects/src/main/mule/implementation-projects/get-projects-from-start-end-range.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
	
	
	
	 <flow name="get:\projects\date-range\(startDate)\(endDate):task-management-abhishek-projetcs-config">
		<snowflake:select doc:name="Select" doc:id="a6c69472-6450-40b1-9e50-2bc4f1f5809b" config-ref="Snowflake_Config2">
			<snowflake:sql ><![CDATA[SELECT * 
FROM Project
WHERE (StartDate >= :startDate AND StartDate <= :endDate)
OR (EndDate >= :startDate AND EndDate <= :endDate);
]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
  startDate : attributes.uriParams.startDate,
  endDate : attributes.uriParams.endDate
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<choice doc:name="Handle Query Results" doc:id="a571f557-ea45-49d2-9f0b-085642980b92">
            <!-- If there are results -->
            <when expression="#[sizeOf(payload) > 0]">
                <ee:transform doc:name="Transform Projects with Duration" doc:id="4b01a401-e124-4bdd-9e5d-88ca06b412e8">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from dw::core::Dates
---
payload map (project) -> {
    ProjectId: project.ProjectId,
    Name: project.ProjectName,
    StartDate: project.StartDate as Date,
    EndDate: project.EndDate as Date,
   Duration: (project.EndDate as Date - project.StartDate as Date).days ++ " days"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <!-- If there are no results -->
            <otherwise>
                <ee:transform doc:name="Handle No Results" doc:id="bfac9c2e-5e3d-47e9-bd98-84b6a9ccdc57">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    message: "No projects found for the given date range.",
    startDate: attributes.uriParams.startDate,
    endDate: attributes.uriParams.endDate
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
      
      
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	
	
	
	
	
	
	
	
	
	
	
	</mule>
