task-management-projects/src/main/mule/implementation-projects/get-projects-status-by-status.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
	
	
	 <flow name="get:\projects\status\(status):task-management-abhishek-projetcs-config">
        <snowflake:select doc:name="Select" doc:id="ffd140fe-de79-4a39-bd61-5c9b0076f94b" config-ref="Snowflake_Config2">
			<snowflake:sql ><![CDATA[select distinct p.ProjectId, p.ProjectName, t.Status from Project p join Task t on p.ProjectId=t.ProjectId where Status=:Status]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
  Status: attributes.uriParams.status
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	
	
	
	
	
	
	
	
	
	</mule>
