task-management-projects/src/main/mule/implementation-projects/get-userrole-by-rolename.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
	
	
	<flow name="get:\projects\user-role\(roleName):task-management-abhishek-projetcs-config">
		<snowflake:select doc:name="Select" doc:id="440110d5-ff30-44f7-8467-3d111d4a25da" config-ref="Snowflake_Config2">
			<snowflake:sql ><![CDATA[select p.ProjectId, p.ProjectName, uu.UserID, u.RoleName, s.username from Project p join UserRoles uu join UserRole u join User s on u.UserRoleID=uu.UserRoleID and uu.UserID=p.UserID and uu.UserID=s.UserID  where RoleName=:RoleName]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
	RoleName: attributes.uriParams.roleName
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<choice doc:name="Choice" doc:id="f04b5c19-1760-4446-94c9-9769f543a7dd" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="3977ec36-29d6-45f9-812c-9ceedca2ba72" type="ROLENAME:INVALID" description="rolename is invalid"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="91784628-1bf6-4c7d-b703-aedef1c75552" type="ROLENAME:INVALID">
				<ee:transform doc:name="Transform Message" doc:id="6bcf059c-5fd6-48fc-8caf-010221016453" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"Cannot fetch data because RoleName is invalid"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    
</flow>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	</mule>
