task-management-tasks/src/main/mule/implementation-tasks/delete-tasks-by-taskid.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	
	
	
	 <flow name="delete:\tasks\(TaskID):task-management-abhishek-tasks-config">
        <db:delete doc:name="Delete" doc:id="69ed7f36-f1ec-47e6-a982-f404739c055b" config-ref="Database_Config_Sprint_Tasks">
			<db:sql ><![CDATA[delete from Task where TaskID =:taskId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	taskId: attributes.uriParams.TaskID
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "DELETESUCCESS",
  message: "Task deleted successfully"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	
	
	
	</mule>
