task-management-tasks/src/main/mule/implementation-tasks/get-tasks-by-userid-and-status.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	
	
	
    <flow name="get:\tasks\user\(userId)\Status\(Status):task-management-abhishek-tasks-config">
        <db:select doc:name="Select" doc:id="69ab3d59-f1d1-4c74-9147-a2ad6c11445a" config-ref="Database_Config_Sprint_Tasks">
			<db:sql ><![CDATA[select * from Task where UserID = :userId and Status = :status]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	userId: attributes.uriParams.userId,
	status : attributes.uriParams.Status
}]]]></db:input-parameters>
		</db:select>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	
	
	
	
	
	
	
	
	</mule>
